body {
    background-color: black;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#imageindex {
    width: 34px;
}

.popover {
    background-color: #000000;
    border-color: #1f1f1f;
    color: #f0f0f0;
}